body{
    height: 100vh;
}

body, header, section, main, footer{
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
}

nav.top-nav{
    background-color: rgb(110, 118, 124);
}

ul{
    margin: 0; 
}

li{
    list-style: none;
}

li.top-nav{
    display: inline-block;
}

.banner{
    position: relative;
    width: 100%;
}
.banner-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 200%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

section{
    max-height: 200px;
}

section div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.soc-media{
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.names{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.screens{
    display: grid;
    grid-template-columns: 50% 50%;   
}
.screens-img{
    grid-column-start: 2;
    grid-column-end: 3;
}
.screens-p{
    grid-column-start: 1;
    grid-column-end: 2;
}
main{
    background-color: aquamarine;
}
h2{
    margin: 0;
}
h3{
    font-size: large;
    color: brown;
}
p{
    font-size: medium;
    color: rgb(125, 34, 222);
    margin: 0;
}

aside{
   
    position: absolute;
}

footer{
    background-color: rgb(91, 187, 255);
    color: white;
}